@import "../../styles/colors.scss";

.loader {
	width: 48px;
	height: 48px;

	background-image: url(../../images/preloader.png);
	background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

	animation-name: rotate;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
