@import "../variables.scss";
@import "../colors.scss";
@import "../utils/mixins.scss";
@import "../typography.scss";

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  min-width: $min-width-button;
  padding: 4px;
  margin: 0;

  border: 0;
  border-radius: 80px;
  
  @extend %main-text;
  color: $fontDark;
  background-color: $primary;
  text-decoration: none;

  @include hover(background-color, $active);

  &:hover {
    cursor: pointer;
  }
}
