@use "../../styles/blocks/buttons.scss";
@import "../../styles/utils/extends.scss";
@import "../../styles/variables.scss";
@import "../../styles/colors.scss";

.form {	
	@extend %max-width-wrapper;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 50px;

	padding: $padding-content-mobile;
	margin-bottom: $margin-between-section;

  @extend %main-text;

	@include onTablet() {
		padding: $padding-content-tablet;
	}

	@include onDesktop() {
		padding: $padding-content-desktop;
	}

	@include onDesktopHigh() {
		padding: $padding-content-desktopHigh;
	}	

	&__title {
		@extend %h1;
	}

	&__field {
		position: relative;
		text-align: left;
		width: 100%;
		max-width: 380px;
	}

	&__label {
		display: block;
		margin-bottom: 11px;
	}

	&__loader {
		position: absolute;
		left: 50%;
		transform: translate(-50%);
	}
}
