$min-width-button: 100px;
// $min-height-button: 34px;

// $margin-content-side-mobile: 30px;

$padding-content-mobile: 13px 16px;
$padding-content-tablet:  13px 32px;
$padding-content-desktop: 13px 60px;
$padding-content-desktopHigh: 13px 0;

// $section-gap-mobile: 110px;
// $section-gap-tablet: 138px;
// $section-gap-desktop: 170px;
