@use "../../styles/blocks/buttons.scss";
@import "../../styles/utils/extends.scss";
@import "../../styles/variables.scss";
@import "../../styles/colors.scss";
@import "../../styles/typography.scss";

.main {
	@extend %max-width-wrapper;
}

.info {	
	@extend %max-width-wrapper;
	
	padding: $padding-content-mobile;

	@include onTablet() {
		padding: $padding-content-tablet;
	}

	@include onDesktop() {
		padding: $padding-content-desktop;
	}

	@include onDesktopHigh() {
		padding: $padding-content-desktopHigh;
	}		

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	min-height: 500px;
	padding-top: 40px;
	margin: 0 auto;
	margin-bottom: $margin-between-section;

  @extend %main-text;

	background-image: url(../../images/background_mobile.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

	@include onTablet {
		justify-content: center;
		padding-top: 0;
		background-image: url(../../images/background_tablet.jpg);
	}

	@include onDesktop {
		background-image: url(../../images/background_desktop.jpg);
		min-height: 650px;
	}

	@include onDesktopHigh{
		background-image: url(../../images/background_desktop_high.jpg);
	}

	&__article {
		color: $fontLight;
		
		max-width: 380px;
		margin: 0 auto 32px;

	}

	&__title {
		@extend %h1;
		color: $fontLight;
		margin-bottom: 21px;
	}

	&__paragraph {
		margin: 0;
	}
}
