@import "./mixins.scss";

%max-width-wrapper {
  margin: 0 auto;
	min-width: 360px;

	@include onDesktopHigh() {
    max-width: 1170px;
  }
}

// %content-wrapper {
  // margin: 0 $margin-content-side-mobile 0;
  // margin-right: 18px;

  // @include onTablet() {
  //   margin: 0;
  // }
// }
