@use "../../styles/blocks/buttons.scss";
@import "../../styles/utils/extends.scss";
@import "../../styles/variables.scss";
@import "../../styles/colors.scss";

.registered {	
	@extend %max-width-wrapper;
	display: flex;
  flex-direction: column;
	justify-content: center;
	align-items: center;

	padding: $padding-content-mobile;
	margin-bottom: $margin-between-section;

  @extend %main-text;

	@include onTablet() {
		padding: $padding-content-tablet;
	}

	@include onDesktop() {
		padding: $padding-content-desktop;
	}

	@include onDesktopHigh() {
		padding: $padding-content-desktopHigh;
	}	

	&__title {
		@extend %h1;
		margin-bottom: 50px;
	}
}
